* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #231942;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
}

header > p > a {
  color: white;
}

header > p {
  display: flex;
  gap: 0.5rem  
}

h1, h2 {
  text-align: center;
  margin: 1rem;
  color: #5E548E;
}

h1 {
  /* filter: drop-shadow(0 0 1px #9F86C0); */
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

article {
  width: 80%;
  height: 10rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 1rem;
  font-size: 1.4rem;
}

article > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

article > div > p:nth-of-type(1) {
  font-weight: 500;
}

article > div > button {
  background-color: #5E548E;
  color: white;
}

article > div > button:hover {
  background-color: #9F86C0;
  color: white;
}

article > button {
  background-color: #E0B1CB;
}

article > button:hover {
  background-color: #BE95C4;
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: space-evenly;
}


section > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  min-height: 10rem;
  border: 1px solid #231942;
  box-shadow: 0 3px 8px rgb(35, 25, 66, 0.9);
  border-radius: 1rem;
  padding: 0.7rem;
  font-size: 1.2rem;
}

section > div > p {
  text-align: center;
}

section > div > p:nth-of-type(1) {
  font-weight: 500;
}

section > div > button {
  background-color: #231942;
  color: white;
}

button {
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  width: 7rem;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

section > div > button:hover {
  background-color: #5e548e;
  color: white;
}

main {
  margin-bottom: 2rem;
}